/* CSS GOES HERE SON !!  */
.App {
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navBarTop {
  display: flex;
  flex-direction: row;
}
.navbarContent ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* switches to "row" on Tablet/Desktop */
}
.navbarContent li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.navbarContent {
  display: flex;
  flex-direction: column;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  background-color: orchid;
}
.aboutText {
  padding: 50px;
}
.linkContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  background-color:blue;
}
.resumeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    background-color: yellow;
}
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  align-items: flex-end;
  background-color: brown;
}
.navDeco {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navBarDeco1 {
   height:10px;
   width: 100vw;
   background-color: orangered;
}
.navBarDeco2 {
  height:10px;
  width: 100vw;
  background-color: yellow;
}
.navBarDeco3 {
  height:10px;
  width: 100vw;
  background-color: brown;
}