/* 
darkred : hotpink
smokeyblack : #0F1108
lightpink: #C78283
ltred: cyan 
*/
@font-face {
  font-family: 'lazer84regular';
  src: url('lazer84-webfont.woff2') format('woff2'),
       url('lazer84-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'basic_lazerregular';
  src: url('basiclazer-webfont.woff2') format('woff2'),
       url('basiclazer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'summer85regular';
  src: url('summer85-webfont.woff2') format('woff2'),
       url('summer85-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
  
  

.App {
  background-color: black;
  color: lightcoral;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "basic_lazerregular",Verdana, Tahoma, sans-serif;
  font-size: 16pt;
}
img {
  width: 70%;
}
ul {
  padding: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
}
.titleText {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:cyan;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.titleBar {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titleName {
  padding-right: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  color: cyan;
  font-family: 'lazer84regular';
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30%;
  background-color: #F6F4D2;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-color: cyan;
}
img.personalPic {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px; 
  margin: 20px;
}
.picContainter {
  display:flex;
  justify-content: center;
}
.picLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutText {
  padding: 50px;
  justify-content: center;
  flex-direction: row;
}
.linkContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  flex-direction: column;
}
.linkContent ul {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.linkContent ul li {
  display: inline;
}
.linkContent img {
  border-style: solid;
  border-width: 3px;
  border-color: hotpink;
}
ul.linkList {
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.resumeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  border-style: solid;
  border-width: 3px;
  border-color: #0F1108;
  width: 306px;
  height: 406px;
}
.picLine {
  display: inline-block;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  flex-direction: column;
  margin-top: 50px;
}
.navDeco {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navBarDeco1 {
   height:10px;
   width: 100%;
   background-color: cyan;
}
.navBarDeco2 {
  height:10px;
  width: 100%;
  background-color: #F6F4D2;
}
.navBarDeco3 {
  height:10px;
  width: 100%;
  background-color: hotpink;
}
.navBarDeco1m {
  height:10px;
  width: 100%;
  background-color: cyan;
}
.navBarDeco2m {
 height:10px;
 width: 100%;
 background-color: #0F1108;
}
.navBarDeco3m {
 height:10px;
 width: 100%;
 background-color: hotpink;
}
.brand {
  display:flex;
  flex-direction: column;
}
a:link {
  color: hotpink;
}
a:visited {
  color: hotpink;
}
.contactList li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.resume {
   width: 550px;
   height: 800px;
   border-style: solid;
   border-width: 3px;
   border-color:hotpink;
}
.contactList {
  list-style-type: none;
}
.fab, .fas {
  margin-right: 10px;
}
.umbrella {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-animation-name: umb-animation;
  -webkit-animation-duration: 4s;
  animation-name: umb-animation;
  animation-duration: 10s;
  transform: rotate(-20deg);
}

@keyframes umb-animation {
  90% {
    transform: rotate(-360deg);
  }
}
@media only screen and (max-width: 768px) {
  .titleBar {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .titleTitle {
    align-items: center;
  }
  .aboutContent {
    width: 300px;
  }
  .aboutText {
    font-size: 10pt;

  }
  .resume {
    display: none;
  }
  img.personalPic {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 275px; 
  }
}
@media only screen and (min-width: 1439px) {
  img.personalPic {
    display:flex;
    justify-content: center;
    align-items: top;
    /* height: 400px;
    width: 550px;  */
  }
  ul.linkList {
    flex-direction: row;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .navBarDeco1 {
    width: 100vw;
 }
 .navBarDeco2 {
   width: 100vw;
 }
 .navBarDeco3 {
   width: 100vw;
 }
.linkContent {
   display: inline;
   margin-left: 25px;
   margin-right: 25px;
 }
 .contactList li {
   display: inline;
   padding-bottom: 25px;
 }
 /* .aboutText {
   display: flex;
   flex-direction: row;
 } */
 .picDiv {
   margin: 10px;
 }
 .textDiv {
  margin: 10px;
}
 ul.contactList {
   margin-bottom: 50px;
 }
 .linkList li {
   display: inline;
   padding: 10px;
 }
}
@media only screen and (max-width: 369px) {
  .titleJob {
    display:none;
  }
  img.personalpic {
    height: 200px;
    width: 200px;
  }
}